*.DS_Store
*.iml
*.ipr
*.iws
*.log
*.project
*.swp
*.class
*.jar
.gradle
.idea
.reviewboardrc
.settings
.shelf/
out/
build/
internal/venice-test-common/tmp/
internal/venice-test-common/dump.complete.hprof
internal/venice-test-common/src/jmh/generated
internal/venice-test-common/file:/
clients/da-vinci-client/classHash*.txt
integrations/venice-duckdb/classHash*.txt

# Stuff related to running the docs server locally
.jekyll-cache/
_site/
Gemfile.lock
.bundles_cache
docs/vendor/
docs/_site/

