*.DS_Store
*.iml
*.ipr
*.iws
*.log
*.project
*.swp
*.class
*.jar
.gradle
.idea
.reviewboardrc
.settings
.shelf/
out/
build/
internal/venice-test-common/tmp/
internal/venice-test-common/dump.complete.hprof
internal/venice-test-common/src/jmh/generated
internal/venice-test-common/file:/
.jekyll-cache/
_site/
Gemfile.lock
.bundles_cache
docs/vendor/
