ssl.enabled:true
ssl.key.password:dev_pass
ssl.keystore.location:/Users/pthiruna/linkedin/venice/internal/venice-common/testcerts/localhost.p12
ssl.keystore.password:dev_pass
ssl.keystore.type:pkcs12
ssl.truststore.location:/Users/pthiruna/linkedin/venice/internal/venice-common/testcerts/localhost.p12
ssl.truststore.password:dev_pass
