name: Venice Publication Pipeline

on:
  schedule:
    - cron: "30 20 * * 3"
  workflow_dispatch:

jobs:
  make-tag:
   # if: github.repository == 'linkedin/venice'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Cut release tag to build and upload Venice Release archive
        run: |
          ./make_tag.py --no-verify --github-actor '${GITHUB_ACTOR}'

  build-and-publish:
    - needs: make-tag
    - name: Build And Publish the artifactory
      uses: ./.github/workflows/build-and-upload-archives.yml
