name: Venice Publication Pipeline

on:
  schedule:
    - cron: "30 20 * * 3"
  workflow_dispatch:

jobs:
  deploy:
    if: github.repository == 'majisourav99/venice'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Cut release tag to build and upload Venice Release archive
        run: |
          ./make_tag.py --no-verify --github-token '${{ secrets.GITHUB_TOKEN }}'
