name: Deploy Javadoc
on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  PublishJavaDoc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - shell: bash
        run: |
          git remote set-head origin --auto
          git remote add upstream https://github.com/linkedin/venice
          git fetch upstream
          git config --global user.name "JavaDoc Bot"
          git config --global user.email "javadoc_bot@invalid.com"
          git switch -C javadoc
          git rebase origin/main
          git push -f origin javadoc
      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v3
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Build Javadoc
        run: ./gradlew  aggregateJavadoc
      - name: Deploy to GitHub Page
        uses: JamesIves/github-pages-deploy-action@v4.7.6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: javadoc
          clean: true
          folder: "build/javadoc"
          target-folder: docs/javadoc